.div_1{
    width: 252px;
    height: 400px;
    border: solid 3px red;
 }
 
 #asos{
     width: 249px;
     height: 60px;
     font-size: 29px;
     font-weight: bold;
 }
 
 .form-1{
     margin-left: 540px;
     margin-top: 120px;
     margin-bottom: 30px;
 }
 
 input[type="text"]{
     width: 265px;
     height: 35px;
     border-radius: 8px;
     border: none;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;
     color: rgb(77, 44, 44);
 }
 
 input[type="button"]{
     width: 60px;
     height: 60px;
     border-radius: 70px;
     border: none; 
     font-size: 25px; 
 }  
 
 
 #a2{
     background-color: rgb(253, 139, 31);
     color: white;
     font-weight: bold;
 }
 
 #a2:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(20, 18, 18);
     font-weight: bold;
     cursor: pointer;
 }
 
 #a3{
     background-color: rgb(253, 139, 31);
     color: white;
     font-weight: bold;
 }
 
 #a3:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(12, 11, 11);
     font-weight: bold;
     cursor: pointer;
 }
 
 #a4{
     background-color: rgb(253, 139, 31);
     color: white;
     font-weight: bold;
 }
 
 #a4:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(14, 12, 12);
     font-weight: bold;
     cursor: pointer;
 }
 
 #a5{
     background-color: rgb(253, 139, 31);
     color: white;
     font-weight: bold;
 }
 
 #a5:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(8, 8, 8);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s1{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s1:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(14, 13, 13);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s2{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s2:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(8, 8, 8);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s3{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s3:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(17, 16, 16);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s4{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s4:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(14, 12, 12);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s5{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s5:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(17, 16, 16);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s6{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s6:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(14, 13, 13);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s7{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s7:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(17, 16, 16);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s8{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s8:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(17, 16, 16);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s9{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s9:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(10, 10, 10);
     font-weight: bold;
     cursor: pointer;
 }
 
 #s10{
     background-color: rgb(38, 43, 43);
     color: white;
     font-weight: bold;
 }
 
 #s10:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(14, 13, 13);
     font-weight: bold;
     cursor: pointer;
 }
 
 #p1{
     background-color: rgb(253, 139, 31);
     color: white;
     font-weight: bold;
 }
 
 #p1:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(14, 13, 13);
     font-weight: bold;
     cursor: pointer;
 }
 
 #p2{
     background-color: rgb(253, 139, 31);
     color: white;
     font-weight: bold;
 }
 
 #p2:hover{
     background-color: rgb(248, 173, 34);
     color: rgb(17, 16, 16);
     font-weight: bold;
     cursor: pointer;
 }

 #w1{
    background-color: rgb(163, 113, 79);
    color: white;
    font-weight: bold;
}

#w1:hover{
    background-color: rgb(248, 173, 34);
    color: rgb(14, 13, 13);
    font-weight: bold;
    cursor: pointer;
}

#w2{
    background-color: rgb(163, 113, 79);
    color: white;
    font-weight: bold;
}

#w2:hover{
    background-color: rgb(248, 173, 34);
    color: rgb(19, 17, 17);
    font-weight: bold;
    cursor: pointer;
}

#w3{
    background-color: rgb(163, 113, 79);
    color: white;
    font-weight: bold;
}

#w3:hover{
    background-color: rgb(248, 173, 34);
    color: rgb(14, 12, 12);
    font-weight: bold;
    cursor: pointer;
}

#w4{
     background-color: rgb(163, 113, 79);
    color: white;
    font-weight: bold;
}

#w4:hover{
    background-color: rgb(248, 173, 34);
    color: rgb(19, 18, 18);
    font-weight: bold;
    cursor: pointer;
}